*{
    margin: 0px;
    padding: 0px;
}

.main{
    width: 100vw;
    height: 100vh;
    padding: 0% 15%;
    box-sizing: border-box;
    
    
}
.barra-nav{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    background-color: silver;

}
.titulo{
    margin-left: 16px;
    font-weight: bolder;
    font-size: larger;
}

.search{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.boton{
    margin: 16px;
    width: 100px;
    height: 25px;
    background-color: rgb(52, 137, 207);
    color: white;
    box-shadow: 4px 2px black;
    border: 2px solid black;
    font-weight: bold;
}




.contenido{
    height: 500px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    
}

.mein-col-1{
    height: 100%;
    flex: 3;
    margin-right: 16px;
}

.sub-col-1{
    border: 2px solid black;
    height: 45%;
    display: flex;
    flex-direction: row;

}
.col-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex: 2;
}

.col-1>div{
    margin: 8px;

}
.col-2{    
    height: 100%;
    flex: 3;
    
}
.parrafo-1{
    height: fit-content;
    padding: 20% 0%;
    font-weight: bolder;

}



.sub-col-2{
    border: 2px solid black;
    height: 45%;
    margin-top: 16px;
    display: flex;
    flex-direction: row;

}
.col-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex: 2;
}
.col-3>div{
    margin: 8px;
}

.col-4{
    
    height: 100%;
    flex: 3;
}

.parrafo-2{
    height: fit-content;
    padding: 20% 0%;
    font-weight: bolder;

}
.mein-col-2{
    height: 30%;
    flex:2;
}
.sub-col{
    border: 2px solid black;
    padding: 20px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-col>div{
    margin: 8px;
}
.btn{
    color: white;
    background-color: blue;
    height: 25px;
    width: 60px;
    border: 4px solid black;
}

.btn-2{
    height: 30px;
    width: 80px;
    background-color: rgb(255, 208, 0);
    border: 2px solid black;
    font-weight: bolder;
    box-shadow: 4px 2px black;
    margin: 8px;
}

.btn-3{
    background-color: rgb(10, 173, 10);
    box-shadow: 4px 2px black;
    border: 2px solid black;
    font-weight: bold;
    height: 30px;
    width: 160px;
}

